*{
    margin: 0px;
    padding: 0px;
}
/**
*   Import Toast Grid
*/
@import "toast";
@import "fa/font-awesome";

//2f4955
$themeColor: #009688;
$secondColor: $themeColor;
//$themeColor: #ee6e73;

html, body{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fcfcfc;
    line-height: 1.5;
}
main{
    margin-bottom: -250px;
    min-height: 100%;
}
main:after {
    content: "";
    display: block;
    height: 250px;
}


/**
* Material Design:
* Cards:
*/
.card{
    width: 99%;
    margin-bottom: 15px;
    margin: 10px;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
    &__image{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
        border-radius: 2px 2px 0px 0px;
        position: relative;
        &--text{
            position: absolute;
            font-size: 24px;
            bottom: 40px;
            left: 20px;
            color: #f8f8f8;
            text-transform: none;
            text-shadow: 0px 2px 0px black;
        }
    }
    &__content{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 0px 0px 2px 2px;
    }
    &__action{
        padding: 20px;
        border-top: 1px solid rgba(160,160,160,0.2);
    }
}

/**
* Material Design:
* Hero Header:
*/
.hero{
    height: 50vh;
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
    background-position: center center;
    &__content{
        position: absolute;
        font-size: 24px;
        bottom: 40px;
        color: #f8f8f8;
        text-transform: none;
        text-shadow: 0px 2px 0px black;
        & a{
            color: #f8f8f8;
        }
    }
}

/**
* Material Design:
* Navbar:
*/
nav{
    background-color: #f8f8f8;
    width: 100%;
}

.menu{
    display: inline-block;
    list-style: none;
    height: 60px;
    width: 100%;
    line-height: 60px;
    &__item{
        display: inline-block;
        height: 60px;
        display: inline-block;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background-color: $themeColor;
            width: 100%;
            height: inherit;
            transition: all .5s;
            clip-path: circle(0% at center center);
            z-index: 99;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &:hover:before{
            clip-path: circle(100% at center center);
        }
        a {
            color: darken($themeColor, 2%);
            position: relative;
            height: inherit;
            display: inline-block;
            z-index: 100;
            padding: 0px 20px;
            line-height: 60px;
            &:hover{
                color: rgba(255,255,255,0.8);
                //background-color: darken($themeColor, 2%);
            }
        }
        
        &--right{
            float: right;
        }
        
        &--active{
            background-color: darken($themeColor, 2%);
            a {
                color: rgba(255,255,255,0.8);
            }
            
            &:before{
                background-color: rgba(0,0,0, .08);
            }
        }
    }
}

.visible--phone{
    display: none;
}
@media (max-width: $toast-breakpoint-medium) {
    .menu{
        
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999999;
        
        &__item{
            background-color: #f8f8f8;
            width: 100%;
            margin: 0px;
            &--active{
                background-color: darken($themeColor, 2%);
            }
            a {
                width: 100%;
            }
        }
        &__item{
             display: none;
        }
    } 
    .visible--phone{
        display: block !important;
    }
}


/**
* Material Design:
* Forms:
*/

.form-element{
    width: 100%;
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    height: 35px;
    label.placeholder {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        color: $secondColor;
        position: absolute;
        background-color: transparent;
        top: 25%;
        transition: all .2s ease-in-out;
        &.active{
            top: -18px;
            font-size: 10px;
        }
    }
    input[type='text'], input[type='password']{
        width: 100%;
        height: inherit;
        padding-left: 18px;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid darken($secondColor, 2%);
        outline: none;
        box-sizing: border-box;
        
        & + .wave-effect{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -9999999;
            width: 0px;
            height: inherit;
            background: $secondColor;
            opacity: 0;
            transition: all .3s ease-in-out;
            border-radius: 0px 10px 10px 0px;
        }
        &:focus + .wave-effect, &.active + .wave-effect{
            opacity: 1;
            width: inherit;
            border-radius: 0px;
        }
        
        
        &:focus{
            border-bottom: 2px solid darken($secondColor, 2%);
            color: #f8f8f8;
            
            &::-webkit-input-placeholder {
               color: #f8f8f8;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #f8f8f8;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #f8f8f8; 
            }

            &:-ms-input-placeholder {  
               color: #f8f8f8; 
            }
        }
    }
}

.btn{
    text-decoration: none;
    color: #f8f8f8;
    background-color: $secondColor;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    transition: all .2s;
    
    &:hover,&:focus{
        background-color: lighten($secondColor, 10%);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
        color: white;
    }

}

.textarea-element{
    width: 100%;
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    height: auto;
    
    label.placeholder {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 12px;
        color: $secondColor;
        background-color: transparent;
        top: 25%;
        transition: all .2s ease-in-out;
        &.active{
            top: -18px;
            font-size: 10px;
        }
        &.right{
            float: right;
        }
    }
    
    textarea{
        width: inherit;
        height: 200px;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: #fcfcfc;
        line-height: 1.5;
        background-color: transparent;
        border: none;
        box-sizing: border-box;
        border-bottom: 2px solid darken($secondColor, 2%);
        display: inline-block;
        padding-left: 18px;
        outline: none;
        padding-right: 18px;
    }
}



.button--container{
    margin-bottom: 20px;
}

.thumb__text{
    color: rgba(0, 0, 0, .6)
}

/**
* Links
*
*/
a{
    color: $themeColor;
    text-decoration: none;
    transition: all .2s ease;
    text-transform: uppercase;
    
    &:hover{
        color: lighten($themeColor, 10%);
    }
}

/**
* Paragraph
*
*/
p{
    margin: 0px;
    color: inherit;
}
/**
*    Columns
*    
*/
.columns {
    columns: auto 3;
    column-gap: 15px;
    
    .col__card{
        float: left;
        page-break-inside: avoid;
             break-inside: avoid;
    }
}
@media (max-width: $toast-breakpoint-medium) and (min-width: $toast-breakpoint-small) {
    .columns {
        columns: auto 2;
    }

}

@media (max-width: $toast-breakpoint-small) {
    .columns {
        columns: auto 1;
    }
    
}


/**
* Footer
*
*/
footer{
    color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    background-color: $themeColor;
    margin-top: 50px;
    position: absolute;
    
    a {
        color: #f8f8f8;
    }
    
}

 .footer__copyright{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    background-color: darken($themeColor, 3%);
}

h1, h2, h3, h4, h5, h6{
    color: $themeColor;
    
    & small{
        display: block;
        font-size: .6em;
    }
}
.hero-color{
    height: 150px;
    width: 100%;

    color: white;
    position: relative;
    & h1{

        position: absolute;
        bottom: 40px;
    }
}

/**
* Stuff
*/

.error{
    color: #ee6e73;
}