*{
    margin: 0px;
    padding: 0px;
}
/**
*   Import Toast Grid
*/
@import "toast";
@import "fa/font-awesome";

//2f4955
$themeColor: #009688;
$secondColor: $themeColor;
$dangerColor: #EF5350;
$warningColor: #FFC107;
$successColor: #4CAF50;
//$themeColor: #ee6e73;

html, body{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fcfcfc;
    line-height: 1.5;
}
main{
    margin-bottom: -250px;
    min-height: 100%;
}
main:after {
    content: "";
    display: block;
    height: 250px;
}

@font-face{
    font-family:'FontAwesome';
    src:url("../fonts/fontawesome-webfont.eot?v=4.5.0");
    src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"),
        url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"),
        url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"),
        url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"),
        url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
    font-weight:normal;
    font-style:normal
}

/**
* Material Design:
* Cards:
*/
.card{
    width: 100%;
    margin-bottom: 15px;
    margin: 10px;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
    &__image{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
        border-radius: 2px 2px 0px 0px;
        position: relative;
        box-shadow: inset 0px -20px 50px 0px rgba(0, 0, 0, .3);
        &--text{
            position: absolute;
            font-size: 24px;
            bottom: 25px;
            left: 20px;
            color: #f8f8f8;
            text-transform: none;
            text-shadow: 0px 2px 0px black;
        }
    }
    &__content{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 0px 0px 2px 2px;
        
        p{
            width: 100%;
            display: inline-block;
        }
    }
    a{
        margin: 0px;
    }
    &__action{
        padding: 20px;
        border-top: 1px solid rgba(160,160,160,0.2);
        &--right{
            float: right;
        }
    }
}

/**
* Material Design:
* Hero Header:
*/
.hero{
    height: 50vh;
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
    background-position: center center;
    &__content{
        position: absolute;
        font-size: 24px;
        bottom: 40px;
        color: #f8f8f8;
        text-transform: none;
        text-shadow: 0px 2px 0px black;
        & a{
            color: #f8f8f8;
        }
    }
}

/**
* Material Design:
* Navbar:
*/
nav{
    background-color: #f8f8f8;
    width: 100%;
}

.menu{
    display: inline-block;
    list-style: none;
    height: 60px;
    width: 100%;
    line-height: 60px;
    &__item{
        display: inline-block;
        height: 60px;
        display: inline-block;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background-color: $themeColor;
            width: 100%;
            height: inherit;
            transition: all .5s;
            clip-path: circle(0% at center center);
            z-index: 99;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &:hover:before{
            clip-path: circle(100% at center center);
        }
        a {
            color: darken($themeColor, 2%);
            position: relative;
            height: inherit;
            display: inline-block;
            z-index: 100;
            padding: 0px 20px;
            line-height: 60px;
            &:hover{
                color: rgba(255,255,255,0.8);
                //background-color: darken($themeColor, 2%);
            }
        }
        
        &--right{
            float: right;
        }
        
        &--active{
            background-color: darken($themeColor, 2%);
            a {
                color: rgba(255,255,255,0.8);
            }
            
            &:before{
                background-color: rgba(0,0,0, .08);
            }
        }
    }
}

.visible--phone{
    display: none;
}
@media (max-width: $toast-breakpoint-medium) {
    .menu{
        
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999999;
        
        &__item{
            background-color: #f8f8f8;
            width: 100%;
            margin: 0px;
            &--active{
                background-color: darken($themeColor, 2%);
            }
            a {
                width: 100%;
            }
        }
        &__item{
             display: none;
        }
    } 
    .visible--phone{
        display: block !important;
    }
}


/**
* Material Design:
* Forms:
*/

.form-element{
    width: 100%;
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    height: 35px;
    &--inline{
        display: inline-block;
        width: auto;
        margin-right: 20px;
    }
    label.placeholder {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        color: $secondColor;
        position: absolute;
        background-color: transparent;
        top: 25%;
        transition: all .2s ease-in-out;
        &.active{
            top: -18px;
            font-size: 10px;
        }
    }
    input[type='text'], input[type='password'], select{
        border-radius: 0px;
        appearance: none;
        width: 100%;
        height: inherit;
        padding-left: 18px;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid darken($secondColor, 2%);
        outline: none;
        box-sizing: border-box;
        
        & + .wave-effect{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -9999999;
            width: 0px;
            height: inherit;
            background: $secondColor;
            opacity: 0;
            transition: all .3s ease-in-out;
            border-radius: 0px 10px 10px 0px;
        }
        &:focus + .wave-effect, &.active + .wave-effect{
            opacity: 1;
            width: inherit;
            border-radius: 0px;
        }
        
        
        &:focus{
            border-bottom: 2px solid darken($secondColor, 2%);
            color: #f8f8f8;
            
            &::-webkit-input-placeholder {
               color: #f8f8f8;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #f8f8f8;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #f8f8f8; 
            }

            &:-ms-input-placeholder {  
               color: #f8f8f8; 
            }
        }
    }
    select{
        border: 1px solid darken($secondColor, 2%);
    }
    .select__icon{
        position: absolute;
        right: 10px;
        color: $themeColor;
        top: 7px;
    }
    
    input[type='radio']{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        margin-bottom: -5px;
        background-color: #f8f8f8;
        cursor: pointer;
        margin-right: 5px;
        border: 2px solid $themeColor;
        outline: none;
        transition: all .2s;
        &:checked{
            background-color: $themeColor;
        }
    }
}


.btn{
    appearance: none;
    text-decoration: none;
    color: #f8f8f8;
    background-color: $secondColor;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    transition: all .2s;
    
    &:hover{
        background-color: lighten($secondColor, 10%);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
        color: white;
    }

}

.textarea-element{
    width: 100%;
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    height: auto;
    
    label.placeholder {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 12px;
        color: $secondColor;
        background-color: transparent;
        top: 25%;
        transition: all .2s ease-in-out;
        &.active{
            top: -18px;
            font-size: 10px;
        }
        &.right{
            float: right;
        }
    }
    
    textarea{
        width: inherit;
        height: 200px;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: #fcfcfc;
        line-height: 1.5;
        background-color: transparent;
        box-sizing: border-box;
        border: 1px solid darken($secondColor, 2%);
        display: inline-block;
        padding: 18px;
        outline: none;
    }
}



.button--container{
    margin-bottom: 20px;
}

.thumb__text{
    color: rgba(0, 0, 0, .6)
}

.article__container{
    
    code{
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: 1px solid darken(#f0f0f0, 5%);
        border-radius: 2px;
        width: 100%;
        display: block;
        box-sizing: border-box;
    }

    p {
        padding: 10px 0px;
    }
    
    ul li{
        margin-left: 20px;
    }
    img{
        max-width: 100%;
    }
}

/**
* Links
*
*/
a{
    color: $themeColor;
    text-decoration: none;
    transition: all .2s ease;
    text-transform: uppercase;
    margin: 0 5px;
    &:hover{
        color: lighten($themeColor, 10%);
    }
    &.danger{
        color: $dangerColor;
    }
    &.warning{
        color: $warningColor;
    }
    &.success{
        color: $successColor;
    }
    
}

/**
* Paragraph
*
*/
p{
    margin: 0px;
    color: inherit;
}
/**
*    Columns
*    
*/
.columns {
    columns: auto 3;
    column-gap: 15px;
    
    .col__card{
        display: inline-block;
        width: calc(100% - 10px);
        margin: 0 auto;
        page-break-inside: avoid;
             break-inside: avoid;
    }
}
@media (max-width: $toast-breakpoint-medium) and (min-width: $toast-breakpoint-small) {
    .columns {
        columns: auto 2;
    }

}

@media (max-width: $toast-breakpoint-small) {
    .columns {
        columns: auto 1;
    }
    
}


/**
* Footer
*
*/
footer{
    color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    background-color: $themeColor;
    margin-top: 50px;
    position: absolute;
    
    a {
        color: #f8f8f8;
    }
    
}

 .footer__copyright{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    background-color: darken($themeColor, 3%);
}

h1, h2, h3, h4, h5, h6{
    color: $themeColor;
    
    & small{
        display: block;
        font-size: .55em;
        font-weight: 300;
    }
}


.hero-color{
    height: 150px;
    width: 100%;

    color: white;
    position: relative;
    & h1{

        position: absolute;
        bottom: 40px;
    }
}

/**
* Stuff
*/

.error{
    color: $dangerColor;
}
.warning{
    color: $warningColor;
}
.success{
    color: $successColor;
}

.left{
    float: left;
}

.right{
    float: right;
}
.hand{
    cursor: pointer;
}




/**
*    Table
*/

.table{
    font-size: 14px;
	width: 100%;
	color: #222222;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid lighten($themeColor, 5%);
    box-sizing: border-box;
    background-color: #f8f8f8;
    
    
    display: table;
    table-layout: auto;
    
    &__cell{
        display: table-cell;
        padding: 5px 20px;
        line-height: 50px;
        box-sizing: border-box;
        text-align: left;
        vertical-align: middle;
        
        &--danger{
            border-left: 5px solid $dangerColor;    
        }
        &--warning{
            border-left: 5px solid $warningColor;    
        }
        &--success{
            border-left: 5px solid $successColor;    
        }
        &--center{
            text-align: center;
        }
        &--fixed{
            width: 50px;
        }
    }
    &__row{
        clear: both;
        display: table-row;
        width: 100%;
        box-sizing: border-box;
        table-layout: inherit;
        
        &:nth-of-type(odd){
            background-color: rgba(0, 0, 0, .05);
        }
        &:hover{
            background-color: rgba(0, 0, 0, .1);
        }
    }
    &__head{
        background-color: $themeColor;
        display: table-header-group;
        color: #f8f8f8;
        width: 100%;
        height: 60px;
        table-layout: inherit;
    }
    &__image{
        background-size: cover;
        background-position: center center;
        height: 60px;
    }
}
@media (max-width: 480px) {
 
    .table{
        &__row{
             
        }
        &__head{
             
        }
        &__body{
            & .table__cell{
                width: 50%;
                border: none;
            } 
            & .table__phone--full{
                width: 100%;   
            }
            & .table__phone--hidden{
                display: none;   
            }
        }
        
        
    }
    
}
